body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #626262;
    padding-top: 76px;
}

a {
    color: #d30c6a;
}

a:hover {
    color: #dd0c63;
}

img {
    max-width: 100%;
    height: auto;
}

.site-header {
    background: #FFFFFF;
    transition: all .21s ease-in-out;
}

.sticky.site-header {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.site-header .navbar {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.site-header .navbar-nav > li {
    position: relative;
}

.site-header .navbar-nav > li > a {
    display: block;
}

.site-header .navbar-nav > li > a:hover {
    text-decoration: none;
}

.site-header .navbar-brand > img {
    width: auto;
    height: 80px;
}

.site-header.sticky .navbar-brand > img {
    width: auto;
    height: 50px;
}

.site-header .navbar-light .navbar-toggler {
    border: 0;
}

.hero-section {
    background: #f3f3f3 url(../img/hero-image.jpg) no-repeat top center;
    background-size: cover;
    min-height: 500px;
    color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.h1 {
    font-weight: 800;
}

.hero-section .hero-inner {
    max-width: 576px;
}

.hero-section .hero-title {
    margin-bottom: 1.75rem;
}

.hero-section .hero-inner p:last-of-type {
    margin: 0 0 1.75rem;
}

.btn-default {
    background: #d30c6a;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0;
    padding: 16px 20px 15px 20px;
    min-width: 200px;
    position: relative;
    border: 0;
}

.btn-default:hover {
    color: #fff;
    background: #ea1a7d;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: none;
}

.hero-section .btn-default:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #d30c6a #fff;
    transition: border .1s;
}

.hero-section .btn-default:hover:before {
    border-color: #ea1a7d #ea1a7d;
}

.section {
    padding: 3rem 0;
}

.h2 {
    font-weight: 800;
    color: #000;
}

.section .h2 {
    text-align: center;
}

.section .h2:after {
    content: '';
    display: block;
    background: #d30c6a;
    margin: auto;
    width: 90px;
    height: 7px;
    margin-top: 1.75rem;
}

.list-w-icons {
    color: rgba(98, 98, 98, 0.8);
}

.list-w-icons h3 {
    font-size: 1.375rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.list-w-icons .media > img {
    margin-top: 0.3125rem;
}

.list-w-icons .media .media-body p:last-child {
    margin-bottom: 0;
}

.home-cta {
    background: #f2f2f2 url(../img/home-banner-01.jpg) no-repeat top center;
    background-size: cover; 
    color: #fff;
    padding: 2rem 0 1.5rem 0;
}

.home-cta .home-cta-text .cta-text {
    max-width: 492px;
}

.home-cta .home-cta-text .cta-text {
    margin-top: 0.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.125rem;
}

.home-cta .home-cta-text > img {
    max-width: 280px;
}

.home-cta-2 {
    background: #dd0c63;
    padding: 3rem 0;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.home-cta-2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 72%;
    width: 50%;
    height: 100%;
    background: #3d2595;
    display: block;
	-webkit-transform: skew(-9deg);
	-moz-transform: skew(-9deg); 
	-o-transform: skew(-9deg); 
}

.home-cta-2-inner {
    position: relative;
    z-index: 3;
}

.home-cta-2 .followtext {
    font-family: "Raleway", sans-serif;
    font-size: 1.75rem;    
    line-height: 1;
    font-weight: 400;
    margin-right: 100px;
    text-align: left;
}

.home-cta-2 .followtext > span {
    font-size: 135px;
    font-weight: 800;
    display: block;
    margin-bottom: 0.5rem;
    letter-spacing: -7px;
}

.home-cta-2 .followtext,
.home-cta-2 .followpic {
    vertical-align: middle;
    display: inline-block;
}

.section .h2.no-line:after {
    content: none;
}

.list-01 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #343434;
    padding-top: 1rem;
}

.list-01 > li {
    position: relative;
    margin-top: 2rem;
    padding-left: 60px;
}

.list-01 > li:before {
    content: '';
    background: url(../img/icons/check-mark.png) no-repeat;
    background-size: 100% auto;
    width: 38px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.list-media-02 .media-item {
    margin-top: 4rem;
}

.list-media-02 h3 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #000;
}

.list-media-02 .media-odd .media-body {
    text-align: right;
    padding-right: 4rem;
}

.list-media-02 .media-even .media-body {
    padding-left: 4rem;
}

.bg-faded {
    background: #f2f2f2;
}

.mgallery {
    padding-top: 5rem;
}

.mgallery .mgallery-item {
    text-decoration: none;
    position: relative;
    display:  block;
    overflow: hidden;
}

.mgallery .mgallery-item figure {
    margin: 0;
    background: rgba(211, 12, 106, 1);
}

.mgallery .mgallery-item figure > img {
    width: 100%;
}

.mgallery .mgallery-item figcaption {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 1rem;
    top: 50%;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: all .21s;
}

.mgallery .mgallery-item:hover figcaption {
    opacity: 1;
}

.mgallery .mgallery-item:hover figure > img {
    opacity: 0.21;
    transition: .15s ease-in-out;
}

.mgallery .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.mgallery [class^="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px;
}

.section .h3 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #000;
}

ul.style-01 {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.style-01 > li {
    position: relative;
    padding-left: 36px;
    margin-bottom: 2rem;
}

ul.style-01 > li:last-child {
    margin-bottom: 0;
}

ul.style-01 > li:before {
    content: "\f192";
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    color: #d30c6a;
}

ul.style-01 > li h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 1rem;
    color: #000;
}

ul.style-01 > li p:last-of-type {
    margin: 0;
}

.section-5 h3 strong {
    font-weight: 800;
}

.form-control {
    font-size: 1rem;
    color: #626262;
    font-weight: 300;
    padding: 1.375rem 1.875rem;
    border-radius: 0;
    height: auto;
}

.bg-default {
    background: #dd0c63!Important;
    color: #fff;
}

.site-footer {
    padding: 40px 0;
}

.site-footer a {
    color: #fff;
}

.social-icons {
    font-size: 1.25rem;
}

.social-icons > a {
    display: inline-block;
    vertical-align: top;
    padding: .5rem;
}

@media (min-width: 992px) {
    .hero-title {
        font-size: 3.75rem;
    }

    .h2 {
        font-size: 3.125rem;
    }
    
    .section .h2-small {
        font-size: 2.375rem;
    }

    .section {
        padding: 5rem 0;
    }
    
    .home-cta .home-cta-text .cta-text  {
        font-size: 1.875rem;
    }
    
    .home-cta .home-cta-text > img {
        max-width: 100%;
    }
    
    .home-cta {
        padding: 3.125rem 0 2.5rem 0;
    }
}

@media (min-width: 1200px) {
    body {
        padding-top: 128px;
    }

    .site-header .navbar-nav > li {
        padding: 0 25px;
    }

    .site-header.sticky .navbar-nav > li {
        padding: 0 1rem;
    }

    .site-header .navbar-nav > li > a {
        text-transform: uppercase;
        color: #18181a;
        line-height: 128px;
    }

    .site-header.sticky .navbar-nav > .active > a {
        background: #d30c6a;
        color: #fff;
    }

    .site-header.sticky .navbar-nav > li > a {
        line-height: 1.25;
        padding: 0.375rem 0.5rem 0.25rem 0.5rem;
    }

    .site-header .navbar-nav > li > a > span {
        line-height: 1;
        display: inline-block;
    }

    .site-header .navbar-nav > .active > a:before {
        content: '';
        background: #d30c6a;
        height: 8px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .site-header.sticky .navbar-nav > .active > a:before {
        content: none;
    }

    .site-header.sticky .navbar-brand {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .site-header .navbar-nav {
        margin-right: -25px;
    }
}

@media (max-width: 1199.98px) {
    .site-header .navbar-brand > img {
        height: 50px;
    }

    .site-header .navbar-nav > li > a {
        display: block;
        padding: 0.5rem 0;
        text-transform: uppercase;
        color: #18181a;
        font-weight: 500;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .site-header .navbar-nav > .active > a {
        font-weight: 700;
    }

    .site-header .navbar-nav > li:first-child > a {
        border-top: 0;
    }

    .site-header .navbar-nav {
        padding-top: .5rem;
    }
    
    .home-cta-2 .followtext {
        font-size: 1.25rem;
        margin-right: 50px;
    }
    
    .home-cta-2 .followtext > span {
        font-size: 90px;
        letter-spacing: -2px;
    }
    
    .home-cta-2 .followpic {
        max-width: 375px;
    }
    
    .home-cta-2:before {
        left: 70%;
    }
    
    .section .h2-small {
        font-size: 2.125rem;
    }
    
    .list-01 {
        font-size: 1.125rem;
    }

    .list-01 > li {
        margin-top: 1.5rem;
        padding-left: 40px;
    }

    .list-01 > li:before {
        width: 28px;
        height: 28px;
        background-position: center;
    }
}

@media (max-width: 991.98px) {
    .hero-section {
        min-height: 1px;
        padding: 3rem 0;
    }
    
    .home-cta-2 .followtext {
        font-size: 1rem;
        margin-right: 20px;
    }
    
    .home-cta-2 .followtext > span {
        font-size: 72px;
    }
    
    .home-cta-2 .followpic {
        max-width: 275px;
    }
    
    .home-cta-2:before {
        left: 67%;
    }
    
    .section .h2-small {
        font-size: 1.5rem;
    }
    
    .list-01 {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    .list-01 > li {
        margin-top: 1.125rem;
        padding-left: 40px;
    }

    .list-01 > li:before {
        width: 20px;
        height: 20px;
        background-position: center;
    }
}

@media (max-width: 767.98px) {
    .home-cta-2  {
        padding: 1.5rem 0 1rem;    
    }
    
    .home-cta-2 .followtext {
        font-size: 0.837rem;
        margin-right: 10px;
    }
    
    .home-cta-2 .followtext > span {
        font-size: 60px;
    }
    
    .home-cta-2 .followpic {
        max-width: 200px;
    }
    
    .home-cta-2:before {
        left: 70%;
    } 
    
    .section .h2-small {
        font-size: 1.75rem;
    }
    
    .list-media-02 .media-odd .media-body {
        text-align: inherit;
        padding-right: 0;
    }
    
    .list-media-02 .media-even .media-body {
        padding-left: 0;
    }
    
    .list-media-02 .media-item {
        text-align: center;
    }
    
    .list-media-02 .media-item .media-body {
        padding-top: 2rem;
    }
    
    .mgallery .mgallery-item figcaption  {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .trust-logos .tlogo > img {
        height: 25px;
        width: auto;
    }
}

@media (max-width: 575.98px) {
    .list-w-icons .media > img {
        height: 50px;
        width: auto;
    }
    
    .home-cta-2 .followtext {
        font-size: 0.837rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .home-cta-2 .followtext > span {
        font-size: 64px;
    }
    
    .home-cta-2 .followpic {
        max-width: 200px;
    }
    
    .home-cta-2:before {
        left: 50%;
        width: 100%
    } 
    
    .home-cta-2  {
        padding: 1rem 0 1.5rem;    
    }
}
